@import 'bulma';

.festivalInfosContainer {
  display: flex;
  justify-content: center;
  padding: 0 16px;
  flex-direction: column;
  height: auto;

  h1 {
    color: $white;
    margin: 16px 0;
    text-align: center;
  }

  h2 {
    color: $white;
  }

  p {
    color: $white;
  }

  .headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .description {
    height: 120px;
    overflow: scroll;
    border: 1px solid $white;
    border-radius: 4px;
    padding: 16px;
  }
}
